
@import "section_comande.css";
@import "section_personnele.css";
@import "section_resultats.css";

* {
    margin: 0;
    padding: 0;
}


.page-achat {
    min-height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.structure_page {
    background-color: rgb(221, 221, 221);
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.structure_form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2522d3;
}

form{
    display: flex;
    padding: 30px;
    min-width: 600px;
    border-radius: 20px;
}

form div{
    display: flex;
    flex-direction: column;
}
