
@import "section_comande.css";
@import "section_personnele.css";
@import "section_paiement.css";
@import "section_resultats.css";

* {
    margin: 0;
    padding: 0;
}



/*POUR JS*/

/*Pour afficher et masquer la section.*/
.invisible {
    display: none !important;
}

.visible {
    display: block !important;
}

/*Pour le bouton*/
.inactif {
    background-color: lightgray;
    color: gray;
    pointer-events: none;
}

s
/*Validation*/
/*erreur*/
.error {
    border: 3px solid red; 
    background-color: #b07474; 
    color: red;
}


.valid {
    border: 3px solid rgb(79, 92, 180); 
    background-color: #58a652; 
    color: rgb(98, 89, 188);
}



/*Label*/

label {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.page-achat {
    min-height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.structure_page {
    background-color: rgb(221, 221, 221);
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.structure_form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2522d3;
    font-size: 30px;
}

form{
    display: flex;
    flex-direction: column;
    min-width: 600px;
    border-radius: 20px;
    gap: 10px;
}


/*SECTIONS*/
section {
    background-color: #a3c3ba;
    padding: 20px;
    border-radius: 20px;
}



.informations {
    display: flex;
    flex-direction: row;
}

.informations input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.personal, .adresse {
    width: 50%;
}

/*footer*/

.footer_form {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Structure de chaque bouton*/
.footer_form button {
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 10,10,10, 0.5 gray;
    color: white;
    box-shadow: 2px 2px 2px rgb(96, 94, 94);
}

/*Les boutons*/
.continuer{
    background-color: rgb(115 110 199);
}

.precedent {
    background-color: #c7c7c7;
}

.footer_form button:hover{
    background-color: rgb(79, 133, 124);
}